@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;600&display=swap');

:root {
    --text-color: #2C3333;
    --bg-color: #E7F6F2;
    --bg-color-board: #A5C9CA;
    --number-color: #395B64;
    --main-font: 'Prompt', sans-serif;
}

body {
    background-color: var(--bg-color);
    font-family: var(--main-font);
}

.board {
    border: 2px solid var(--bg-color-board);
    border-radius: 20px 10px 60px 10px;
    background-color: var(--bg-color-board);
    margin: 50px;
    padding: 40% 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    text-align: center;
    font-family: var(--main-font);
    font-size: 1.15em;
    color: var(--text-color);
    font-weight: 700;
}

.date {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.date--form {
    width: 85px;
    height: 50px;
    margin: 5px;
}

#submit {
    background-image: url(../images/angle-down-solid.svg);
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    color: transparent;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 50px 0 30px 130px;
}

.result--div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    color: var(--text-color);
    font: var(--main-font);
    font-weight: 700;
    font-size: 56px;

}

footer {
    font-family: var(--main-font);
    color: var(--text-color);
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--number-color);
}

a:visited {
    text-decoration: none;
}

@media (min-width: 1200px) {

    form {
        display: flex;
        flex-direction: row;
        align-items: last baseline;

    }

    label {
        font-size: 1.75em;

    }

    .date--form {
        width: 150px;
        height: 80px;
        margin: 5px;
    }

    .result--div {
        margin-top: 2em;
        font-size: 72px;

    }

    footer {
        font-family: var(--main-font);
        color: var(--text-color);
        text-align: center;
        font-size: 24px;
    }

}